*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body::selection{
    color: rgb(64, 45, 64);
    background-color: turquoise;
}
body{
    background: linear-gradient(wheat,rgb(248, 166, 180));
}
header{
    padding-top: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header > .logo {
    display: flex;
    gap: 10px;
}

header >.logo > h1{
    color: aliceblue;
    /* padding-right: 35%; */
    padding-bottom: 10px;
}
.player{
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding: 9px;
    position: relative;
}

.search > input{

    margin-left: 30%;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 300px;
    width: 700px;
    font-family: inherit;
    background-color: aliceblue;
}
header > img{
    padding-right: 9px;

}
.player::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    color: blue;
    transition: width 0.4s ease;
}
.player:hover::after{
    width: 100%;  
    background-color: aqua;  
}
.player:hover{
    color: aqua;
}
input[type="search"]{
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: 0.7s;
    box-shadow: 2px 5px 20px;
}
input[type="search"]:hover{
    background-color: #007bff;
    color: aqua;
}

/* body */
.pdetails{
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
    letter-spacing: 1px;
    color: #ff4500;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

/* play card */

.card{
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

.card  > .playcard {
    /* box creating */
    height: auto;
    width:400px;
    margin-top: 30px;
    padding: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: auto;
}

::-webkit-scrollbar{
    display: none;
}

.playcard > figure >a> img{
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 3px 7px black;
}
.playcard >button{
    margin-top: 10px;
    padding: 5px;
    width: 150px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(orange,white);
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 3px 7px black;

    text-transform: capitalize;
}



/* footers */
footer{
    display: flex;
    height: 100vh;
    justify-content: end;
    align-items:end;
}
footer > section{
    background-color: #333;
    width: 100%;
    padding: 70px;
}
footer > section > div{
    background-color:#333;
    display: flex;
    justify-content: space-evenly;
}

/* icon */

.icon{
    list-style-type: none;
    padding-right: 50%;
}

.icon > li > a img:hover{
    zoom: 1.2;
}

.text {
    list-style-type: none;
}

.icon > span{
    color: darkgray;
}

/* text  */
.text > li > a{
    color: darkgray;
    text-decoration: none;
    display: block;
    margin-top: 30px;
    padding-right: 90px;
}
.text > li > a:hover{
    color: white;
    transition: 0.5s;
}

/* footer section 2 */

.div1{
    display: flex;
    gap: 20px;
    padding: 20px; 
    margin-top: 20px;  
    margin-right: 20px;
    color: white;
}



/* !MATCH RULES SECTION */
.rules-container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow:2px  2px 4px 15px rgba(0, 0, 0, 0.233);
    border-left: 8px solid #ff4500;
}

/* Main heading (MATCH RULES :) */
.match-rules {
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
    letter-spacing: 1px;
    color: #ff4500;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

/* Inner rule section headings */
.rules-container h2 {
    margin-top: 25px;
    color: #1b1b1b;
    font-size: 22px;
    border-left: 5px solid #ff4500;
    padding-left: 10px;
}

/* List Style */
.rules-container ul {
    margin-top: 10px;
    margin-left: 20px;
}

.rules-container ul li {
    font-size: 17px;
    color: #333;
    margin-bottom: 8px;
    line-height: 1.6;
    padding-left: 5px;
    transition: 0.3s ease;
}

/* Hover effect on rules */
.rules-container ul li:hover {
    color: #ff4500;
    transform: translateX(5px);
}

/* Mobile Responsive */
@media (max-width: 600px) {
    .rules-container {
        width: 95%;
        padding: 20px;
    }

    .match-rules {
        font-size: 28px;
    }

    .rules-container h2 {
        font-size: 20px;
    }

    .rules-container ul li {
        font-size: 16px;
    }
}

/* ! MATCH UPDATES */

.transfer{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    margin-top: 200px;
}

.transfer > a{
    text-decoration: none;
}

.transfer >a> h1{
    height: 100px;
    width: 300px;
    background: linear-gradient(gray,black);
    color: wheat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 20px;
    font-size: 29px;

     opacity: 0.6;
    animation: nav 1.5s ease-in-out alternate infinite ;
}
.transfer >a> h1:hover{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.5s;
}


@keyframes nav{
    from{
       
    }
    to{
        transform: scale(1.1);
        opacity: 1;

    }
}

#MATCHUPDATES{
    animation-delay: 0.1s;
}
#TEAMREGISTRATION{
    animation-delay: 0.5s;
}
#ADMIN{
    animation-delay: 0.9s;
}